
:root{
  --Color1: #D7F205;

  --Background: #0D0D0D;
  --background-card: #1a1a1a;
  --font-color-text: #f2f2f2;
  --font-color-lightgrey: #BFBFBF;
  
  --buttoncolor: #D7F205;
  --button-hover: #a7c101;

  --social-icon: #D7F205;
  --social-icon-hover: #6C7526;

}


*{
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--Background);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  text-decoration: none;
}
li{
  text-decoration: none;
}
/* global style */

.title{
  font-size: 2rem;
  font-weight: 600;
  color: var(--Color1);
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 6px solid var(--Color1);
  width: fit-content;
  margin: auto;
}
.subtitle{
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-text);
  line-height: 1.2;
}
.profile{
  margin-bottom: 40px;
}
.profile h2{
  color: var(--Color1);
  width: fit-content;
  text-align: center;
  margin: 30px auto;
  transform: rotate(-8deg);
}
.date{
  font-size: 12px;
  color: var(--Color1);
  font-weight: 700;
  text-transform: uppercase;
  /* border-bottom: 1px solid #63615E; */
  /* padding-bottom: 5px; */
}
.arrow {
  border: solid var(--Color1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.separator{
  height: 1px;
  width: 100%;
  background-color: #404040;
}
.separator-pages{
  margin: auto;
  height: 1px;
  width: 58%;
  background-color: #404040;
}
/* .item-before{
  padding-right: 5px;
  width: 1px;
  height: 1px;
  background: var(--Orange2);
} */

  /* link */
  .linked{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding-top: 30px; */
  }
  .link-button{
    background-color: var(--social-icon);
    color: var(--Background);
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: max-content;
    text-align: center;
    /* transition: all 0.2s linear 0s; */
  }
  .link-button:hover{
    background-color: var(--button-hover);
    color: var(--font-color-text);
  }
  .link-button a{
    color: #0D0D0D;
    font-weight: 700;
  }
  li{
    list-style-type: none;
    margin: 0;
  }
ul{
  list-style-type: none;
  margin: 0;
}
  .icon-box svg{
    background-color: var(--background-card);
    color: var(--buttoncolor);
    padding: 15px;
    border-radius: 10px;
    width: 20px;
    height: auto;
  }
  .social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 300px;
    margin: 20px;
  }
  .social-link svg{
    color: var(--social-icon);
    width: 30px;
    height: auto;
  }
  .social-link svg:hover{
    color: var(--social-icon-hover);
  }
  .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .social a{
    color: #0D0D0D;
  }
/* global style */

/* .header{
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
} */
.hire.span:hover{
  content: 'Tetx';
}
.about-body{
  margin: 40px auto;
  max-width: 700px;
}
.about-container{
  display: block;
  margin: auto;
}
.profile{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.name{
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
  line-height: 1;
  color: var(--font-color-text);
}
.name >span{
  color: var(--Color1);
}
.role{
  font-size: 17px;
  color: var(--font-color-text);
}
.desc{
  font-size: 1rem;
  padding-bottom: 20px;
  color: var(--font-color-text);
  line-height: 1.5;
  flex-wrap: wrap;
}
.figure img{
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-top: 40px;
}
.personal-info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.personal-item{
  padding: 20px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  gap: 20px;
  color: var(--font-color-text);
}

.personal-list{
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 220px;
}
.personal-title{
  text-transform: uppercase;
  color: var(--font-color-lightgrey);
  font-size: 1rem;
}
/* end */
.services-section{
  margin: auto;
}
.services-card{
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
}
.services-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--background-card);
  padding: 80px;
  border-radius: 10px;
}
.services-title{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--Color1);
}
.services-icon svg{
  color: var(--Color1);
}
.services-button{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--buttoncolor);
  font-weight: 600;
}
.services-button:hover{
  background-color: var(--button-hover);
  color: var(--font-color-text);
}
.tools-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: -30px;
}
.tools-item{
  display: flex;
  align-items: center;
  gap: 10px;
}
.tools-item-icon{
  color: var(--buttoncolor);
}
.header-footer{
  display: flex;
  align-items: center;
  gap: 10px ;
  margin-top: -20px;
}
.header-footer-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-footer-container-title, .header-footer-container >svg{
  color: var(--font-color-lightgrey);
}
.modal-body-item{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
  margin-left: -30px;
}
.modal-body-item >svg{
  color: var(--buttoncolor);
}
          /* The Modal (background) */
        .modal {
          display: none;
          /* Hidden by default */
          position: fixed;
          /* Stay in place */
          z-index: 1;
          /* Sit on top */
          padding-top: 80px;
          /* Location of the box */
          left: 0;
          top: 0;
          width: 100%;
          /* Full width */
          height: 100%;
          /* Full height */
          overflow: auto;
          /* Enable scroll if needed */
          background-color: rgb(0, 0, 0);
          /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4);
          /* Black w/ opacity */
          overflow: auto;
      }

      /* Modal Content */
      .modal-content {
          max-height: 80%;
          overflow: auto;
          position: relative;
          background-color: #2a2a2a;
          border-radius: 10px;
          margin: auto;
          padding: 20px;
          width: 40%;
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.3s;
          animation-name: animatetop;
          animation-duration: 0.1s
      }

      /* Add Animation */
      @-webkit-keyframes animatetop {
          from {
              top: -100px;
              opacity: 0
          }

          to {
              top: 0;
              opacity: 1
          }
      }

      @keyframes animatetop {
          from {
              top: -100px;
              opacity: 0
          }

          to {
              top: 0;
              opacity: 1
          }
      }

      /* The Close Button */
      .close {
          color: var(--buttoncolor);
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: var(--button-hover);
          text-decoration: none;
          cursor: pointer;
      }

      .modal-header {
          padding-top: 40px;
          /* padding-bottom: 10px; */
          padding-left: 16px;
          padding-right: 16px;
          color: var(--font-color-text);
      }

      .modal-body {
          padding: 12px 16px;
          color: var(--font-color-text);
      }

      .modal-footer {
          padding: 12px 16px;
          color: var(--font-color-text);
      }

/* end */

#content2{
  padding: 0px 10px;
}
.icon2{
  width: 50px;
}
.generals{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 750px;
  text-align: center;
}
.item{
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--item);
  border-bottom: 2px solid #278C70;
  margin: 3px;
  border-radius: 5px;
  font-weight: normal;
  /* place-content: center; */
  color: #C5D3D9;
  /* border-bottom: 1px solid var(--Color1); */
}
.item:hover{
  background-color: var(--Color1);
  cursor: pointer;
}

/* end */
.progress{
  padding: 10px;
}
.w3-border{
  background-color: var(--BGprogress);
  border-radius: 20px;
}
.w3-grey{
  background-color: var(--Color1);
  border-radius: 20px;
}
.title-progress{
  padding-bottom: 10px;
  padding-left: 10px;
}
.software{
  margin: 0 auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
}

/* end */
  .experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    gap: 20px;
  }
  .jobposition{
    font-size: 18px;
    color: var(--font-color-text);
    font-weight: 600;
    line-height: 1.3;
    padding-top: 5px;
  }
  .work-place{
    font-size: 1rem;
    margin: 10px 0;
    width: fit-content;
    padding: 2px 7px;
    color: var(--font-color-text);
    background-color: #343434;
    border-radius: 5px;
  }
  .work-experience{
    display: flex;
    /* align-items: flex-start; */
    background-color: var(--background-card);
    flex: 3 0 calc(40% - 20px);
    padding: 30px;
    max-width: 300px;
    border-radius: 10px;
  }
  .work-experience-container{
    padding-left: 20px;
  }
  .flex{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .alert{
    background-color: #73221a;
    font-size: 0.7rem;
    color: #f2eff3;
    margin-left: 10px;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: 500;
    max-width: max-content;

  }

        /* jobdesk modal */
        .uil-check-circle{
          color: var(--buttoncolor);
          font-size: 1.5rem;
        }

        .jobdesk-item{
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: -15px;
        }
        .jobdesk-list{
          margin-left: -20px; 
        }
        .services-button-jobdesk{
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 3px 8px;
          margin-top: 15px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          background-color: var(--buttoncolor);
          font-weight: 600;
        }
        .services-button-jobdesk:hover{
          background-color: var(--button-hover);
          color: var(--font-color-text);
        }

/* end */

footer{
  height: 40px;
  font-size: 12px;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end */
.sertfikat{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2px 16px;
}
.sertfikat-title{
  color: var(--font-color-text);
  padding: 2px 16px;
}
.sertfikat-container a{
  color: var(--buttoncolor);
}
.icon-link-sertifikat{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--buttoncolor);
  color: var(--background-card);
  width: max-content;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
}

.icon-link-sertifikat:hover{
  background-color: var(--button-hover);
  color: var(--font-color-text);
}
/* end */

/* responsive */
@media screen and (max-width:600px){
  .header{
    height: 100vh;
  }
  .separator-pages{
    width: 90%;

  }
  .name{
    font-size: 32px;
  }
  .role{
    font-size: 14px;
    line-height: 1.2;
  }
  .linked{
    padding-top: 0;
  }
  .personal-item{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;

  }
  .about-items{
    text-decoration: none;
    text-align: start;
    display: flex;
    align-items: center;
  }
  .about-body{
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
  }
  .personals{
    padding-top: 20px;
    padding-left: 10px;
  }
  .desc{
    margin: auto;
    text-align: center;
  }
  .linked{
    justify-content: flex-start;
  }
  .software{
    display: block;
    max-width: fit-content;
    padding: 15px;
  }
  .services-card{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    
  }
  .modal-content{
    width: 80%;
  }
  /* end */
  .experience{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }
  .sertfikat{
    display: flex;
    padding: 15px;
  }
  .timeline-items::before{
    left: calc(20% - 8px);
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
  }
  .timeline-item:nth-child(odd), .timeline-item:nth-child(even){
    padding-left: 30px;
    text-align: left;
    padding-bottom: 30px;
  }
  .timeline-dot{
    left: calc(0% - 0px);
  }
  .timeline-date{
    margin: -7px 0 10px;
  }
  .timeline-item{
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
