@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{

    --primary-color: #DBDBDB;
    --secondary-color: #DBDBDB;

      --Bg-color: #0A0C16;
      --dark-color-section: #080A12;
      --body-text: #dddddd;
      --font-color-grey: #D1D1D1;
      --stroke: #1F263E;
  
      --dark-color-900: #090808;
      --dark-color-800: #0F121F;
      --dark-color-700: #0F121F;
      --dark-color-600: #0F121F;
      --dark-color-500: #1F263E;

    --transition: all 0.3s ease-in-out;
    --transition2: all 0.3s ease-in;
    --transform: scale(0.97);
      /* modal variable */

    --lightgray: #efefef;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
@font-face {
  font-family: mySignatureFont;
  src: url(Bhenay\ Signature.ttf);
}
 
body{
    background-color: var(--Bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--body-text);
}
::selection{
    background-color: var(--primary-color);
    color: #0C0C0C;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
button{
    border: none;
    outline: none;
    background: transparent;
}
.button-effects{
  background-color: var(--secondary-color);
  transition: var(--transition);
}
.button-effects:hover{
  background-color: var(--primary-color);
  transform: var(--transform);
}
.button-social{
  transition: var(--bounceEasing);
  background-color: #191e35;
  padding: 3px;
  border-radius: 3px;
}
.button-social:hover{
  transform: var(--transform);
}
.social-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.social-links a{
  color: var(--body-text);
}
    /* setting color icon hover */
        .social-links a:nth-child(1):hover{
          color:  #d82ca2; 
        }
        .social-links a:nth-child(2):hover{
          color:  #2c90d8;
        }
.social-links a i{
  font-size: 1.6rem;
  transition: var(--transition);
}
.social-links a i:hover{
  transform: var(--transform);
}
.social-links span{
  margin-right: 10px;
}
.center{
  text-align: center;
  
}
.text-left{
  text-align: left;
}
.green-text{
  color: #7288ED;
}

.title-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Orbitron', sans-serif;
  line-height: 1;
}
.vertical-line-section{
  margin-top: 10px;
  height: 50px;
  width: 6px;
  background-image: url(img/circle.svg);
  background-repeat: space;
  background-size: 6px;
}

/* =================== data tooltip ======================== */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: var(--secondary-color);
  color: var(--dark-color-800);
  font-weight: 500;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--secondary-color);
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--secondary-color);
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--secondary-color);
  left: calc(0em - 5px);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--secondary-color);
  right: calc(0em - 5px);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
  display: none !important;
}

/* ============= start modal setting default ============= */

.open-modal-personal-details i{
  font-size: 1.2rem;
}
.open-modal i{
  font-size: 1.2rem;
}
.open-modal {
  font-weight: bold;
  color: var(--dark-color-700);
  border-radius: 20px;
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 15px;
  background-color: var(--secondary-color);
}
/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.close-modal-div{
  text-align: end;
}
.close-modal-div >.close-modal{
  cursor: pointer;
  font-size: 2rem;
  color: var(--primary-color);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 1000;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--dark-color-700);
  overflow: auto;
  cursor: default;
}
.modal-content{
  margin-bottom: 20px;
}
.modal-dialog > * {
  padding: 1.5rem;
}
.modal-footer{
  margin-bottom: 1rem;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog{
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}


/* ============= end modal setting default ============= */
/* styling css */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--dark-color-600);
  z-index: 200;
  position: fixed;
  width: 100%;
}
.menu-toggle{
  display: none;
}
.navmenu{
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 25px;
  background-color: var(--dark-color-600);
}
.navbar ul li{
  display: flex;
}
.navmenu li a:not(:nth-child(6)){
  color: var(--body-text);
  font-size: 1rem;
}
.navmenu li .icon{
  color: var(--body-text);
  font-size: 1rem;
}
.navbar ul li{
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.navbar ul li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  border-radius: 10px;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.navbar ul li:not(:nth-child(6)):hover:after, 
.navbar ul li:not(:nth-child(6)):focus:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.navbar .navmenu li:nth-child(6){
  padding: 7px 12px;
  border-radius: 3px;
  transition: var(--transition);
  transform: translateY(-3px);
  cursor: pointer;
}
.navbar ul .button-effects >a{
  color: var(--dark-color-700);
  font-weight: 500;
}
.navbar ul .button-effects >i{
  color: var(--dark-color-700);
}

.logo{
  font-size: 1.7rem;
  font-weight: 700;
  user-select: none;
}
/* ========================== end nav ========================== */

.hero-section{
    display: flex;
    margin: auto;
    height: 100vh;
    background: radial-gradient(circle at 99% 0%, rgba(31, 38, 62, 1) 0%, rgba(8, 10, 18, 1) 70%);
    /* background: linear-gradient(35deg, rgba(8, 10, 18, 1) 0%, rgba(31, 38, 62, 1) 130%); */
  }
.hero-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section .hero-container .hero-title > figure{
  margin-bottom: 20px;
}
.hero-section .hero-container > .social-links{
  margin-top: 20px;
}
.hero-title{
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}
.title-name{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #0F121F;
}
.title-job{
    font-size: 1.2rem;
    font-weight:600;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 7px;
}

.hero-download-area{
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero-download-area a{
  font-weight: normal;
}
.cv i, .hire i{
    font-size: 1.2rem;
}
.cv, .hire{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.hire{
  padding: 7px 15px;
  border: 1px solid rgba(114, 136, 237, 0.4);
  border-radius: 5px;
}
.cv, .hire{
    transition: var(--transition);
    font-weight: bold;
}
.cv{
  color: var(--primary-color);
}
.hire:hover{
    background-color: #7288ED;
    transform: var(--transform);
    font-weight: bolder;
    color: var(--primary-color);
}
.hire{
  color: #7288ED;
}
.cv:hover{
  border-bottom: 1px solid #7288ED;
  padding-bottom: 5px;
  color: #7288ED;
}

/* end hero */

.aboutme-section{
  padding: 80px 0;
  background-color: var(--dark-color-section);
}
.aboutme-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.aboutme-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  text-align: center;
}
.aboutme-description{
  line-height: 1.6;
}
.aboutme-title{
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: 'Orbitron', sans-serif;
}
.aboutme-signature{
  font-family: mySignatureFont;
  font-size: 3rem;
}

/* personal details modal */

.modal-content-personal-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.modal-content-personal-details figure{
  margin-bottom: 20px;
}
.modal-content-personal-details h3{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal-content-personal-details h5{
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.modal-content-personal-details p{
  max-width: 400px;
  font-weight: 400;
  line-height: 1.5;
}
.modal-content-personal-details > .social-links{
  margin-top: 15px;
}
.personal-info{
  display: table;
  justify-content: flex-start;
  width: 300px;
  padding: 10px 20px;
  border: 1px solid var(--stroke);
  border-radius: 10px;
  margin-top: 20px;
}
.separator{
  width: 100%;
  height: 1px;
  background-color: var(--stroke);
  margin-top: 5px;
  margin-bottom: 5px;
}
.personal-info-detail{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.personal-info-detail i{
  font-size: 1.5rem;
  color: var(--font-color-grey);
}
.personal-info-contain span{
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--font-color-grey);
}
.personal-info-contain p{
  font-weight: 500;
}

/* end about */
.skills-section{
  padding: 80px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.skills-container{
  margin: auto;
}
.progress-bar-section{
  display: flex;
  gap: 30px;
  max-width: 1000px;
}
.progress-bar-div{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 180px);
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.progress-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  row-gap: 10px;
  background-color: var(--dark-color-600);
}
.progress-bar i{
  font-size: 2rem;
}
.progress-bar h4{
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.my-skills-set-section{
  display: grid;
  margin-top: 80px;
}
.skills-set-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.skills-card{
  display: flex;
  align-items: center;
  gap: 15px;
  transition: var(--transition);
}
.skills-card img{
  width: 44px;
  margin-bottom: 10px;
}
.skills-card h3{
  color: var(--primary-color);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.list-platform-section{
  margin: 0px auto;
  background-color: var(--dark-color-700);
  border-radius: 10px;
  box-shadow: 0 0 transparent;
  width: 1000px;
  padding: 30px;
}
.list-platform-container{
  margin: 0 auto;
}
.list-platform-container hr{
  height: 1px;
  margin-left: 250px;
  margin-top:30px;
  margin-bottom: 30px;
  border: none;
  background-color: var(--stroke);
}
.list-platform-container h4{
  float: left;
  width: 250px;
}
.list-platform{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.platform-item{
  background-color: var(--dark-color-500);
  color: #d3d3d3;
  width: max-content;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: var(--transition);
  font-weight: 500;
}

.platform-item-certificate{
  width: max-content;
  padding: 5px 15px;
  border-radius: 10px;
  border-left: 1px solid var(--font-color-grey);
}
.platform-item-certificate a{
  font-size: 0.9rem;
  color: #3E97E1;
  font-weight: 500;
}

.platform-item-certificate i{
  font-size: 1rem;
}
/* end skills */
.resume-section{
  padding: 0px 0;
}
.resume-container{
  margin: 0 auto;
}
.resume-timeline-body{
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(3, 1fr) ;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--dark-color-700);
}

.resume-box{
  position: relative;
  display: block;
  margin-left: 20px;
}
.div1, .div2, .div3, .div4, .div5, .div6{
  border-bottom: 1px solid var(--stroke);
  padding-bottom: 10px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { 
  grid-area: 3 / 2 / 4 / 4; 
  background-color: var(--dark-color-500);
  border: 1px solid var(--stroke);
  padding: 10px;
  border-radius: 10px;
  margin-left: 0;
}
.resume-box:not(:nth-child(8)):before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f75a5a;
  border-radius: 50%;
  top: 7px;
  left: -30px;
}
.resume-box:nth-child(1)::before{
  background-color: #5DC97C;
}
.date-histori{
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
  color: var(--font-color-grey);
}
.bxs-message-rounded-error{
  font-size: 1.2rem;
  color: var(--primary-color);
  animation: tooltip 1s linear infinite;
}
@keyframes tooltip {
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}
.date-histori >div{
  font-size: 0.9rem;
}
.resume-box h3{
  margin-bottom: 5px;
}
.resume-box p{
  font-size: 0.9rem;
  color: var(--font-color-grey);
  margin-bottom: 5px;
  font-weight: 500;
}

/* end resume */

.contact-section{
  background-color: var(--dark-color-section);
  padding: 80px 0;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.contact-body figure{
  position: relative;
}
.contact-body figure img{
  max-width: 170px;
  border-radius: 50%;
}
.contact-body figure::before{
  content: '';
  position: absolute;
  background-image: url(img/curved-thin-arrow-right-icon.svg);
  background-repeat: no-repeat;
  top: -20%;
  left: 85%;
  transform: rotate(40deg);
  padding: 30px;
  z-index: 1;
}
.contact-body{
  display: flex;
  align-items: start;
  gap: 30px;
}
.contact-text{
  max-width: 570px;
}
.contact-text h5{
  font-size: 1.5rem;
  max-width: 400px;
  margin-bottom: 30px;
  line-height: 1.5;
  border-bottom: 1px solid var(--stroke);
  padding-bottom: 15px;
  flex-wrap: wrap;
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 700;
}
.contact-info span{
  border: 1px solid var(--stroke);
  color: var(--body-text);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 240px;
  user-select: all;
  border-radius: 20px;
}
.contact-info span i{
  font-size: 1.3rem;
  color: var(--primary-color);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  height: 100%;
  padding: 30px;
  border: 1px solid var(--stroke);
  border-radius: 10px;
  color: var(--font-color-grey);
  background-color: var(--dark-color-600);
}
.form-title{
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}
.form button{
  background-color: var(--secondary-color);
  height: 40px;
  width: 100%;
  color: var(--dark-color-700);
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}
.form{
  border-radius: 10px;
}
.form fieldset{
  border: 1px solid var(--stroke);
  border-radius: 30px;
  padding: 5px 20px;
}
.form legend{
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 5px;
}
.form-container i{
  position: absolute;
  font-size: 1.2rem;
}
.form-container{
  display: flex;
  align-items: center;
}
.form-container input, .form-container textarea{
  height: 30px;
  width: 100%;
  border: none;
  margin-left: 25px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
}

.form-container input:focus, .form-container textarea:focus{
  outline: none;
  caret-color: var(--primary-color);
  color: var(--primary-color);
}
.form-container input::placeholder, .form-container textarea::placeholder{
  color: var(--font-color-grey);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-container textarea{
  margin-left: 0;
  height: 150px;
  resize: none; 
}
.form-container input:focus::placeholder{
  color: var(--primary-color);
}
.form-container input:focus  ~ i{
  color: var(--primary-color);
}

/* end */

.footer{
  background-color: var(--dark-color-800);
  border-top: 1px solid var(--stroke);
  padding: 20px;
}
.footer .center{
  color: var(--body-text);
  font-weight: 400;
  font-size: 0.9rem;
}
.footer .center span{
  font-weight: 700;
}
.title-section br{
  display: none;
}

@media screen and (max-width:1200px) {
  /* navbar */
  
  /* end navbar */
  .skills-set-container{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .resume-timeline-body{
    max-width: 900px;
  }
}
@media screen and (max-width:920px){
  .aboutme-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills-set-container{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  .list-platform-section{
    padding: 20px;
    width: 80%;
  }
  .aboutme-body{
      align-items: center;
      text-align: center;
    }
    .resume-timeline-body{
      max-width: 800px;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      justify-content: center;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 4 / 1 / 5 / 2; }
    .div8 { grid-area: 4 / 2 / 5 / 3; }
    .contact-container{
      flex-direction: column;
    }
    .contact-body figure::before{
      background-image: none;
    }
    .contact-body{
      align-items: center;
      flex-direction: column;
    }
    .contact-info{
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .contact-text{
      text-align: center;
    }
    .contact-text h5{
      text-align: center;
      max-width: 480px;
    }
}
@media screen and (max-width:768px) {
  nav{
    padding: 20px;
  }
  .navbar .toggle-nav{
    display: block;
    height: 28px;
    width: 39px;
    position: absolute;
    top: 22px;
    right: 28px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    opacity: 0;
}
.menu-toggle .hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 33px;
    z-index: 4;
}
.menu-toggle .hamburger .line{
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--primary-color);
    z-index: 122;
    opacity: 1;
}
.menu-toggle{
    display: flex;
}
.navbar input[type="checkbox"]{
    background: transparent;
    /* opacity: 0; */
    cursor: pointer;
}
.navbar{
    align-items: start;
    width: 100%;
    position: fixed;
}
.navbar ul{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 60%;
    margin-top: 20px;
    padding: 0 20px;
    padding-top: 50px;
    padding-bottom: 170px;
    transform: translateX(150%);
    transition:transform 0.5s cubic-bezier(1,0,0,1) 0s;
    /* transition: transform 0.50s ease-in-out; */
}
[transition-style="in:wipe:up"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}
.navbar ul.slide{
    transform: translateX(0);
}
.navmenu li a{
  font-size: 1.1rem;
  margin-left: 15px;
}
.navmenu li a:nth-child(6){
  text-align: left;
}
.navmenu li:not(:nth-child(6)){
    border-bottom: 1px solid rgba(240,246,252,0.1);
    padding: 10px;
    width: 100%;
}
.menu-toggle, .social-links{
    display: block;
}
.contact-info{
  flex-direction: column;
}
.contact-body figure::before{
  background-image: none;
}
/* ======= Data Animation Toggle ======= */

    .menu-toggle .hamburger .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-toggle .hamburger .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .menu-toggle .hamburger .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .menu-toggle input[type="checkbox"]:checked ~ .hamburger .line1 {
        transform: rotate(45deg);
    }

    .menu-toggle input[type="checkbox"]:checked ~ .hamburger .line2 {
        transform: scaleY(0);
    }

    .menu-toggle input[type="checkbox"]:checked ~ .hamburger .line3 {
        transform: rotate(-45deg);
    }
      /* ========================== end navbar ========================== */
    .list-platform-section{
      padding: 20px;
      width: 80%;
    }
      .list-platform-container{
      display: flex;
      flex-direction: column;
    }
    .list-platform-container h4{
      float: none;
      width: auto;
      margin-bottom: 20px;
    }  
    .list-platform-container hr{
      margin-left: 0px;
  }
  .resume-timeline-body{
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    justify-content: center;
  }
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 3 / 2 / 4 / 3; }
  .div7 { grid-area: 4 / 1 / 5 / 2; }
  .div8 { grid-area: 4 / 2 / 5 / 3; }
}
/* responsive for mobile device */
@media screen and (max-width:600px){
  .title-section br{
    display: block;
  }

      .hero-section{
        display: flex;
        height: 100vh;
      }

    .hero-title{
        padding: 0 20px;
    }
    .hero-link-button{
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .title-name{
      font-size: 1.5rem;
    }
    .title-job{
      font-size: 0.9rem;
    }
    /* end hero */

    .foto-profil img{
      max-width: 170px;
      border-radius: 50%;
    }
    .aboutme-section{
      padding: 40px 20px;
    }
    .aboutme-container{
      flex-direction: column;
      gap: 20px;
    }
    .aboutme-body{
      margin-top: 20px;
    }
    .aboutme-body{
      align-items: center;
      text-align: center;
    }

    /* end about */

    .progress-bar-section{
      flex-direction: column;
      width: 100%;
    }
    .progress-bar-div::-webkit-scrollbar-thumb,
    .progress-bar-div::-webkit-scrollbar-track{
      background-color: transparent;
    }
    .progress-bar-div::-webkit-scrollbar{
      background-color: transparent;
    }
    .progress-bar-div{
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
      justify-content: start;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    .progress-bar{
      flex: 0 0 auto;
      scroll-snap-align: start;
      scroll-behavior: smooth;
      position: relative;
      width: 300px;
      height: 250px;
    }
    .skills-section{
      padding: 40px 20px;
    }
    .skills-set-container{
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    .list-platform-section{
      width: 100%;
    }
    .skills-card h3{
      font-size: 1rem;
    }
    /* end */

    .resume-section{
      padding: 40px 20px;
    }
    .resume-timeline-body{
      width: 100%;
      grid-template-columns: 1fr repeat(4, 0);
      grid-template-rows: repeat(8, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      justify-content: start;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }
    .div7 { grid-area: 7 / 1 / 8 / 2; }
    .div8 { grid-area: 8 / 1 / 9 / 2; }
    .resume-timeline-body::before{
      position: absolute;
      content: '';
      width: 1px;
      height: 70%;
      top: 60px;
      left: 34px;
      background-color: var(--stroke);
    }
    /* end */
    .contact-section{
      padding: 40px 20px;
    }
    .contact-body figure::before{
      background-image: none;
    }
    .contact-body{
      align-items: center;
    }
    .contact-container, .contact-body{
      flex-direction: column;
      gap: 0;
    }
    .contact-text h5{
      margin-top: 20px;
      text-align: center;
    }
    .container{
      margin-top: 50px;
    }
    .contact-info{
      align-items: center;
    }
    .contact-info ~ .aboutme-signature{
      text-align: center;
    }

    /* Animation Scroll Data */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  z-index: 0;
}
.reveal.actives{
  transform: translateY(0);
  opacity: 1;
}
}
